{% extends 'security/security_layout.html.twig' %}

{% block section_title %}Авторизация{% endblock %}

{% block form %}
    {{ form_start(form, {
        'action': path('login'),
        'method': 'POST',
        'attr':{novalidate:'novalidate'},
    }) }}
    {% if authenticationError is defined and authenticationError  %}
        <div class="alert alert-danger" role="alert">Неправильные логин или пароль</div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}

        {{ form_widget(form.username,{
            'value': lastUsername,
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.password) }}
    </div>
    <div class="form-group">
        {{ form_label(form.remember_me) }}
        {{ form_widget(form.remember_me) }}
    </div>
    {{ form_widget(form.save, {
        'attr': {'class': 'btn btn-success'},
    }) }}

    {{ form_end(form) }}
{% endblock %}

{% block information %}
    <div class="panel panel-info">
        <div class="panel-heading">Обратите внимание</div>
        <div class="panel-body">
            <p>У вас ещё нет профиля? <a href="{{ path('signup') }}">Зарегистрируйтесь</a>.</p>
            <p>Если вы забыли пароль, вы можете <a href="{{ path('recovery.password.email') }}">восстановить</a> его.</p>
            <p>Помните, вы вводите личные данные, утеря которых может вызвать проблемы
                с входом и другими функции на данном сервисе. Не предоставляйте никому
                ваши данные и будьте осторожны при их вводе.</p>
        </div>
    </div>
{% endblock %}